.nav{
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.4);
	opacity: 0.9;
}

#nome{
	font-size: 20px;
}

.nav-link{
	color:white;
	font-weight: bold;
}

#rodape{
	font-weight: bold;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.4);
}

#sobre{
	font-size: 21px;
}