
*,*::before,*::after{
    box-sizing: border-box;
   font-family: 'Shadows Into Light', cursive;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#text{
      text-align:justify;

}

.container-text{
    background-color: #F2F2F2;
    width:80%;
    max-width: 40%;
    padding: 25px;
    padding-bottom: 10px;
    border-radius:5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    border:1px solid rgba(0,0,0,0.5);
}


.btn-grid{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin-top: 80px;
    font-size: 12px;
}


.btn-good,.btn-neutral,.btn-evil{
    background:none;
    padding:5px 10px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.btn-good{
    background-color: #8FBC8F;
}

.btn-neutral{
    background-color:  #C0C0C0;
}

.btn-evil{
    background-color: #B22222;
}

.btn-good:hover,.btn-neutral:hover,.btn-evil:hover{
    opacity: 0.90;
}



@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
